*  
{ 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

html {
	font-size:62.5%;
}

body {
	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
}

textarea {
	font: normal normal normal 13.3333330154419px/normal Arial;
}

img {
	max-width:100%;
	vertical-align:bottom;
}

a {
	color:#444;
	text-decoration:none;
}

a:hover {
	color:#444;
}

a:focus {
	outline:0;
}

a:hover, a:active {
	outline:0;
}

h1 { 
	font-size: 2.2em; 
} 

h2 { 
	font-size: 2.0em;     
} 

h3 { 
	font-size: 1.8em; 
} 

h4 { 
	font-size: 1.6em;     
} 

h5 { 
	font-size: 1.4em;     
} 

p { 
	font-size: 1.2em;     
}

/*
LOGIN
*/

.input_login {
	outline:0;
	border:2px solid orange;
	width: 176px;
}

#contenedor_principal {
	margin: auto;
	text-align: center;
	margin-top: 15%;
}

#contenedor_secundario {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin:20px auto 0px auto;
	width: 300px;
	height: 200px;
	border: 3px solid orange;
	overflow: hidden;
}

#contenedor_tercero {
	width: 200px;
	margin: 18px auto 0 auto;
	overflow: hidden;
}

#boton {
	font-size: 16px;
	color: white;
	background: orange;
	text-decoration: none;
	text-align: center;
	width: auto;
	float: left;
	margin-top: 5px;
	padding: 3px 15px 3px 15px;
}

input[type="text"], input[type="password"], input[type="number"], 
input[type="tel"], input[type="date"] {
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
	font: normal normal normal 13.3333330154419px/normal Arial;
}

textarea {
	margin: 0 auto;
	margin-top: 5px;
	padding: 10px;
	outline:0;
	border:1px solid black;
	max-width: 96.5%;
	width: 96.5%;
}

#login {
	margin-top: 0;
	padding: 5px;
	text-align: center;
	background: orange;
	color: white;
}

#welcome {
	color: orange;
}

/*
MENU 
*/

#div_logo {
	width: 6%;
	float: left;
	margin: 1.4px;
	margin-right: 50px;
}

#div_principal {
	width: 80%;
	margin: 0 auto;
}

#header {
	background: orange;
}

#nav {
	width: 100%;
	float: right;
	background: orange;
}

#derecha {
	float: right;
	padding: 0;
	margin: 0 auto;
	height: 60px;
	font-size: 0;
}
#izquierda {
	float: left;
	padding: 0;
	margin: 0 auto;
	height: 60px;
	font-size: 0;
}

#nav ul li {
	display: inline-block;
	width: 30%;
}

#nav ul li a {
	font-family: gobold;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #444;
	padding: 10px 0 10px 0;
	text-align: center;
}

#nav ul li a:hover {
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0px 0px 25px rgba(255, 255, 255, 1);
}

#logo {
	font-size: 35px;
}

#principal {
	clear: both;
	margin: 0 auto;
	width: 700px;
}

.boton_img i {
	font-size: 100px;
	width: 100px;
	margin: 0 auto;
}

.logo_user i {
	font-size: 25px;
}

.boton_img {
	float: left;
	width: 33.33%;
	text-align: center;
}

#titulo {
	color: #444;
	text-align: center;
	padding: 50px;
}

.letra {
	font-family: gobold;
}

/*
Clientes
*/

.base {
	clear: both;
	margin: 0 auto;
	width: 80%;
}

#contenerdor {
	width: 100%;
	height: 100px;
}

.cliente {
	float: left;
	margin-top: 40px;
}

.cliente i {
	font-size: 60px;
}

#h3_cliente {
	float: right;
	margin-top: 17px;
	margin-left: 12px;
}

#btn_derecha {
	float: right;
}

#boton_cliente {
	background: orange;
	padding: 12px;
	text-align: center;
	margin-top: 50px;
	float: right;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

table {
	margin-top: 4%;
	text-align: center;
	width: 100%;
	background: #fff;
}

table td, table tr {
	padding: 10px;
	font-size: 16px;
}

#titulo_tabla {
	background: #60CC65;
	color: white;
}

/*
Eliminar cliente
*/	

#con_mensaje {
	margin: 0 auto;
	width: 60%;
	margin-top: 10%;
	text-align: center;
}

.btn_verde {
	background: #309C29;
	text-align: center;
	width: 60px;
	float: left;
	float: right;
	padding: 7px;
	font-size: 13px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-top: 10%;
}

.btn_rojo {
	background: #CF1E1A;
	text-align: center;
	width: 60px;
	float: left;
	padding: 7px;
	font-size: 13px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-top: 10%;
}

#con_mensaje a {
	color: white;
}

/*
Nuevo Cliente	
*/

#nuevo_cliente i {
	font-size: 60px;
}

#con_datos {
	margin: 0 auto;
	width: 60%;
	margin-top: 4%;
}

.input_datos {
	outline:0;
	border:1px solid black;
	width: 96.5%;
}

.letra_datos {
	margin-top: 2%;
	font-family: gobold
}

#con_datos a {
	color: white;
}
